.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  @media (min-width: $desktop-width) {
    background-image:
    linear-gradient(to left, rgba(104,183,56, .85) 0, rgba(104,183,56, .85) 770px, #ffffff 770px, #ffffff 100%),
    url("/img/index-background-desktop\ 1.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 770px;

    @media (min-resolution: 2dppx) {
      background-image:
      linear-gradient(to left, rgba(104,183,56, .85) 0, rgba(104,183,56, .85) 770px, #ffffff 770px, #ffffff 100%),
      url("/img/index-background-desktop\ 1@2x.png");
      background-size: auto 770px;
    }
  }
}

.page-header__wrapper {
  border-bottom: 1px solid #E6E6E6;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 78px;
    padding: 0 30px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 110px 0;
}
}

.page-header__logo {
  display: flex;
  justify-content: space-between;
  height: 66px;
  width: 213px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    width: 174px;
    height: 52px;
  }

}

.page-header__logo-image {
  width: 34px;
  height: 38px;
  margin: 11px 20px 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__logo-title {
  @media (min-width: $tablet-width) {
  margin: 0;
}
}

