.page-footer {
  background-color: $basic-grey;
}

.page-footer__container {
  padding: 0 19px;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__logo-title {
  margin: 0px;
  padding: 35px 0 30px;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  font-size: 24px;
}
