.social {
  padding: 20px 0;
  border-bottom: 1px solid #D9D9D9;
  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;

  min-height: 22px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &--facebook {
    width: 10px;
    height: 18px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--vkontakte {
    width: 23px;
    height: 16px;
  }

    & path {
      fill: $special-grey-2;
    }

    @media (min-width: $tablet-width) {
      &--facebook {
        width: 13px;
        height: 27px;
      }

      &--instagram {
        width: 23px;
        height: 23px;
      }

      &--vkontakte {
        width: 30px;
        height: 22px;
      }
    }
}

