.button {
  display: block;
  padding: 7px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: center;

  background-color: $basic-green;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: none;
}
